body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
  padding: 20px;
}

.book-list {
  list-style: none;
}

.book-list li {
  padding: 20px 30px;
  border: 1px gray solid;
  width: 300px;
  text-align: center;
  overflow: hidden;
}

.book-list li:hover {
  background: lightgoldenrodyellow;
}

.book-list #selected {
  color: orangered;
}

.detail {
  text-align: left;
  padding: 0 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
